/* Outdated CSS */
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
body {
    background-color: #8db19f;
    font-family: "Monospace", sans-serif;
    font-size: large;

    margin: 0px;
    padding: 0px;

}

header{
    background-color: #739986;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

header h1{
    display: block;
    font-family:Protest Guerrilla;
    font-size: 4em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;

    font-weight: bold;
    unicode-bidi: isolate;
}

header p{
    display: block;
    margin-inline-start: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-style: italic;
    unicode-bidi: isolate;
}

#Nav_actions{
    display: flex;
    list-style-type: none;
    margin: 2px;
    align-items: flex-start;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
#Nav_actions a:link, a:visited{
    color: azure;
    text-decoration: none;

}
#Nav_actions a:hover{
    
}





